@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
  margin: 0 auto;
  background: oldlace;
  max-width: 1349px;
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monserrat", sans-serif;
}

header {
  background: white;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 9px -5px black;
  padding: 0 60px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-menu li {
  text-decoration: none;
  list-style: none;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.nav-menu .btn {
  background: blueviolet;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}

@media all and (max-width: 1290px) {
  .nav {
    flex-direction: column;
  }
  .nav-logo {
    justify-content: center;
    margin-top: 10px;
  }
}

@media all and (max-width: 1078px) {
  .nav {
    flex-direction: column;
  }

  .nav-logo {
    justify-content: center;
    margin-top: 10px;
  }

  .nav-menu {
    flex-direction: column;
    line-height: 1.5;
    padding: 0px;
  }

  .nav-menu li {
    align-self: center;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.important-info {
  color: gray;
  padding-top: 15px;
}

.diploma {
  display: flex;
  padding: 20px 60px 0 60px;
  align-items: center;
  overflow: hidden;
}

.diploma-img {
  position: relative;
}

.diploma-img::before {
  content: "";
  border-radius: 100%;
  background: rgb(122, 113, 113);
  position: absolute;
  z-index: 0;
  width: 495px;
  height: 417px;
  top: -200px;
  right: -76px;
}

.diploma-img img {
  position: relative;
  z-index: 1;
  padding-left: 60px;
}

@media all and (max-width: 1168px) {
  .diploma {
    flex-direction: column;
  }

  .diploma-img::before {
    display: none;
  }

  .diploma-img img {
    padding: 0px;
  }
}

@media all and (max-width: 500px) {
  .diploma-title {
    text-align: center;
  }

  .diploma-content p {
    text-align: center;
  }
}

.sertificate {
  padding: 80px 60px;
  color: white;
  background: rgb(29, 29, 104);
  display: flex;
  align-items: center;
  position: relative;
}

.sertificate-content {
  width: 65%;
}

.sertificate-img {
  position: absolute;
  right: 100px;
  top: 70px;
}

@media all and (max-width: 1168px) {
  .sertificate {
    flex-direction: column;
    padding: 20px 60px 10px 60px;
  }

  .sertificate-content {
    width: unset;
  }

  .sertificate-img {
    position: static;
    margin-top: 30px;
  }
}

@media all and (max-width: 500px) {
  .sertificate-title {
    text-align: center;
  }

  .sertificate-content p {
    text-align: center;
  }
}

.career {
  display: flex;
  padding: 50px 60px;
}

.career-content {
  margin-left: 65px;
}

.career-title {
  margin: 10px 0px;
  color: gray;
  font-weight: normal;
}

.career-subcontent {
  margin: 35px 0px;
}

.career-btn {
  background: white;
  border: 1.5px solid blueviolet;
  border-radius: 20px;
  padding: 8px 21px;
  color: blueviolet;
  font-weight: bold;
}

@media all and (max-width: 1168px) {
  .career {
    flex-direction: column;
    padding: 20px 60px 10px 60px;
  }

  .career-img {
    position: static;
    align-self: center;
    margin-top: 30px;
  }

  .career-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
}

@media all and (max-width: 500px) {
  .career-title {
    text-align: center;
  }

  .career-content p {
    text-align: center;
  }
}

footer {
  display: flex;
  background: rgb(69, 50, 82);
  padding: 40px 60px;
  justify-content: space-between;
}

.footer-title {
  color: rgb(151, 62, 235);
  margin: 0px 0px 15px 0px;
}

.footer-items {
  margin: 0px;
  padding: 0px;
  line-height: 1.7;
}

.footer-items li {
  list-style: none;
  margin: 5px 0;
}

.footer-items li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-brands {
  display: flex;
  justify-content: space-between;
}

.footer-brands i {
  color: white;
  padding: 5px;
  margin-bottom: 15px;
  font-size: xx-large;
}

.footer-copyright {
  color: white;
  font-weight: bold;
}

@media all and (max-width: 830px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px 10px 60px;
  }

  footer article:nth-child(1) {
    margin-right: 44px;
  }

  .footer-img {
    position: static;
    align-self: center;
    margin-top: 30px;
  }

  .footer-title {
    margin-top: 20px;
  }

  .footer-brands {
    margin-top: 20px;
  }

  footer article:nth-last-child(1) {
    margin-right: 20px;
  }

  
}
