body {
  margin: 0;
  background: oldlace;
  width: 1400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monserrat", sans-serif;
}

header {
  background: white;
  width: 100%;
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 9px -5px black;
  padding: 0 60px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-menu li {
  text-decoration: none;
  list-style: none;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.nav-menu .btn {
  background: blueviolet;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}

main {
  padding: 40px 60px 0 60px;
  display: flex;
  flex-wrap: wrap;
}

.important-info {
  color: gray;
  padding-top: 15px;
}

.diploma {
  display: flex;
}

.diploma-img::before {
  content: "";
  border-radius: 100%;
  background: rgb(122, 113, 113);
  position: absolute;
  z-index: 0;
  width: 38%;
  height: 70%;
  top: -103px;
  right: -69px;
}

.diploma-img img {
  position: relative;
  z-index: 1;
  padding-left: 60px;
}


